// --Font Faces--
@font-face {
  font-family: "Avenir-Regular";
  src: url("../assets/fonts/AvenirNextLTPro-Regular.otf")
    format("opentype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Avenir-Bold";
  src: url("../assets/fonts/AvenirNextLTPro-Bold.otf")
    format("opentype");
}

@font-face {
  font-family: "Avenir-Demi";
  src: url("../assets/fonts/AvenirNextLTPro-Demi.otf")
    format("opentype");
}


// @font-face {
//   font-family: "Avenir-Regular";
//   src: url("file:///C:/Users/brand/Desktop/Brainstation%20-%20Web%20Development%20Bootcamp/BandSite%20Project/brandon-ong-bandsite/assets/fonts/AvenirNextLTPro-Regular.otf")
//     format("opentype");
//   font-style: normal;
//   font-weight: 400;
// }

// @font-face {
//   font-family: "Avenir-Bold";
//   src: url("file:///C:/Users/brand/Desktop/Brainstation%20-%20Web%20Development%20Bootcamp/BandSite%20Project/brandon-ong-bandsite/assets/fonts/AvenirNextLTPro-Bold.otf")
//     format("opentype");
// }

// @font-face {
//   font-family: "Avenir-Demi";
//   src: url("file:///C:/Users/brand/Desktop/Brainstation%20-%20Web%20Development%20Bootcamp/BandSite%20Project/brandon-ong-bandsite/assets/fonts/AvenirNextLTPro-Demi.otf")
//     format("opentype");
// }