@use "./variables";
@use "./fonts";
@use "./mixins";

* {
  margin: 0;
  padding: 0;
}

:root {
  font-size: 3px;
  font-family: variables.$font-regular;
}

body {
  width: 100%;
}

.dead-space {
  width: 100%;
  height: 89px;

  @include mixins.tablet {
    display: none;
  }
}

.nav-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: variables.$primary-bg-color;
  position: fixed;
  width: 100%;
  z-index: 1;

  @include mixins.tablet {
    display: flex;
    flex-direction: row;
    padding: 0 variables.$padding-four;
  }

  @include mixins.desktop {
    position: fixed;
    z-index: 1;
    width: 100%;
    padding: 0 variables.$padding-ten + variables.$padding-four;
  }

  &__image {
    &-container {
      display: flex;
      justify-content: center;
      padding: variables.$padding-two;

      @include mixins.tablet {
        padding: variables.$padding-three 0;
        margin-right: variables.$padding-three;
      }
    }

    &-logo {
      max-height: 20px;
      max-width: 120px;
    }
  }

  &__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    width: 100%;

    padding-left: 0;
    margin: 0;

    @include mixins.tablet {
      display: flex;
      justify-content: flex-start;
    }

    &-option {
      text-align: center;
      font-size: 4.67rem;
      width: 100%;
      padding-bottom: variables.$padding-two;
      @include mixins.tablet {
        padding: variables.$padding-three 0;
        margin: 0 variables.$padding-three;
        max-width: fit-content;
      }

      @include mixins.desktop {
        &:hover {
          font-family: variables.$font-demi;
          border-bottom: 4px solid variables.$alt-bg-color;
        }
      }
    }

    &-link {
      width: 100%;
      text-decoration: none;
      color: variables.$primary-text-color;

      @include mixins.tablet {
        max-width: fit-content;
      }
    }
  }
}

.foot-bar {
  @include mixins.flexCol;
  background-color: variables.$primary-bg-color;
  color: variables.$primary-text-color;
  padding: 0 variables.$padding-two;
  
  @include mixins.tablet {
    @include mixins.flexRow;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 variables.$padding-four;
    padding-bottom: variables.$padding-four;
    position: relative;
  }

  @include mixins.desktop {
    padding: 0 variables.$padding-ten + variables.$padding-four;
    padding-bottom: variables.$padding-five;
  }

  &__title {
    @include mixins.pageHeader;
    @include mixins.tablet {
      @include mixins.pageHeaderTablet;
    }
  }

  &__social {
    display: flex;
    justify-content: flex-start;
    padding-bottom: variables.$padding-three;

    & :nth-of-type(2) {
      margin: 0 variables.$padding-four;
    }

    @include mixins.tablet {
      height: fit-content;
      padding: 0;
      padding-top: variables.$padding-increment;
      padding-left: variables.$padding-four;
      align-items: flex-end;

      &-icon {
        width: 25px;

        &--mid {
          width: 15px;
        }

        &--last {
          width: 30px;
        }
      }
    }

    @include mixins.desktop {
      padding-left: variables.$padding-seven;
    }
  }

  &__contact-container {
    @include mixins.bodyText;

    @include mixins.tablet {
      display: flex;
      width: 100%;
      @include mixins.bodyTextTablet;
      line-height: variables.$tablet-foot-lh;

      & div:nth-child(2) {
        padding: 0 variables.$padding-six;
      }
    }

    @include mixins.desktop {
      & div:nth-child(2) {
        padding: 0 variables.$padding-nine;
      }
    }
  }

  &__contact-name-company {
    font-family: variables.$font-demi;
    padding-bottom: variables.$padding-two;
  }

  &__contact-address {
    padding-bottom: variables.$padding-two;
  }

  &__contact-email {
    padding-bottom: variables.$padding-three;
  }

  &__copyright-logo {
    padding-top: variables.$padding-three;

    @include mixins.tablet {
      position: absolute;
      top: 40px;
      right: 32px;
    }

    @include mixins.desktop {
      right: 112px;
    }
  }

  &__copyright-text {
    font-size: 3.6rem;
    padding: variables.$padding-two 0;

    @include mixins.tablet {
      @include mixins.bodyTextTablet;
      line-height: variables.$tablet-foot-lh;
    }
  }
}