@use "./variables";
@use "./fonts";
@use "./mixins";

:root {
  font-size: 3px;
  font-family: "Avenir-Regular";
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
}

.nav-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: variables.$primary-bg-color;

  @include mixins.tablet {
    display: flex;
    flex-direction: row;
    padding: 0 36px;
  }

  &__image {
    &-container {
      display: flex;
      justify-content: center;
      padding: 16px;

      @include mixins.tablet {
        padding: 24px 0;
        margin-right: 24px;
      }
    }

    &-logo {
      max-height: 20px;
      max-width: 120px;
    }
  }

  &__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    width: 100%;

    padding-left: 0;
    margin: 0;

    @include mixins.tablet {
      display: flex;
      justify-content: flex-start;
    }

    &-option {
      text-align: center;
      font-size: 4.67rem;
      width: 100%;
      padding-bottom: 16px;
      @include mixins.tablet {
        padding: 24px 0;
        margin: 0 24px;
        max-width: fit-content;
      }
    }

    &-link {
      width: 100%;
      text-decoration: none;
      color: variables.$primary-text-color;

      @include mixins.tablet {
        max-width: fit-content;
      }
    }
  }
}
