$primary-bg-color: #323232;
$primary-text-color: #ffffff;
$secondary-text-color: #afafaf;
$hover-state-bg-color: #000000;
$form-item-color: #e1e1e1;
$alt-bg-color: #fafafa;

@font-face {
  font-family: "Avenir-Regular";
  src: url("file:///C:/Users/brand/Desktop/Brainstation%20-%20Web%20Development%20Bootcamp/BandSite%20Project/brandon-ong-bandsite/assets/fonts/AvenirNextLTPro-Regular.otf")
    format("opentype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Avenir-Bold";
  src: url("file:///C:/Users/brand/Desktop/Brainstation%20-%20Web%20Development%20Bootcamp/BandSite%20Project/brandon-ong-bandsite/assets/fonts/AvenirNextLTPro-Bold.otf")
    format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: "Avenir-Demi";
  src: url("file:///C:/Users/brand/Desktop/Brainstation%20-%20Web%20Development%20Bootcamp/BandSite%20Project/brandon-ong-bandsite/assets/fonts/AvenirNextLTPro-Demi.otf")
    format("opentype");
  font-weight: 600;
}

@mixin headerText($fontSize, $fontFam, $lineHeight, $padTop, $padBot) {
  font-size: $fontSize;
  font-family: $fontFam;
  line-height: $lineHeight;
  padding-top: $padTop;
  padding-bottom: $padBot;
  margin: 0;
}

@mixin subheaderText($fontSize, $fontFam, $lineHeight, $padTop, $padBot) {
  font-size: $fontSize;
  font-family: $fontFam;
  line-height: $lineHeight;
  padding-top: $padTop;
  padding-bottom: $padBot;
  margin: 0;
}

@mixin quoteText {
  font-size: 4.67rem;
  font-family: "Avenir-Demi";
  line-height: 22px;
  margin: 0;
}

@mixin bodyText {
  font-size: 4.33rem;
  font-family: "Avenir-Regular";
  line-height: 18px;
  //   letter-spacing: 1px;
}

@mixin footerText {
  font-size: 4.33rem;
  font-family: "Avenir-Regular";
  line-height: 18px;
}

@mixin tablet {
  @media (min-width: 767px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1280px) {
    @content;
  }
}

:root {
  font-size: 3px;
  font-family: "Avenir-Regular";
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
}

.nav-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $primary-bg-color;

  @include tablet {
    display: flex;
    flex-direction: row;
    padding: 0 36px;
  }

  &__image {
    &-container {
      display: flex;
      justify-content: center;
      padding: 16px;

      @include tablet {
        padding: 24px 0;
        margin-right: 24px;
      }
    }

    &-logo {
      max-height: 20px;
      max-width: 120px;
    }
  }

  &__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    width: 100%;

    padding-left: 0;
    margin: 0;

    @include tablet {
      display: flex;
      justify-content: flex-start;
    }

    &-option {
      text-align: center;
      font-size: 4.67rem;
      width: 100%;
      padding-bottom: 16px;
      @include tablet {
        padding: 24px 0;
        margin: 0 24px;
        max-width: fit-content;
      }
    }

    &-link {
      width: 100%;
      text-decoration: none;
      color: $primary-text-color;

      @include tablet {
        max-width: fit-content;
      }
    }
  }
}
