@mixin textFormat($fontSize, $fontFam, $lineHeight, $padTop, $padBot) {
  font-size: $fontSize;
  font-family: $fontFam;
  line-height: $lineHeight;
  padding-top: $padTop;
  padding-bottom: $padBot;
}

@mixin tablet {
  @media (min-width: 767px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1280px) {
    @content;
  }
}