// --Color variables--
$primary-bg-color: #323232;
$primary-text-color: #ffffff;
$secondary-text-color: #afafaf;
$hover-state-bg-color: #000000;
$form-item-color: #e1e1e1;
$alt-bg-color: #fafafa;

// --Font variables--

// mobile-default
$default-header-size: 8rem;
$default-header-font: "Avenir-Demi";
$default-header-lh: 32px;
$default-padding-top: 24px;
$default-padding-bot: 16px;

$quote-size: 4.67rem;
$quote-lh: 22px;

// tablet
$tablet-title-size: 20rem;
$tablet-title-lh: 68px;
$tablet-header-size: 12rem;
$tablet-header-lh: 44px;
$tablet-padding-top: 48px;
$tablet-padding-bot: 36px;

//desktop