@use "./partials/global";

.hero-section {
  display: flex;
  align-items: center;
  background-image: url("../assets/images/hero-bio.jpg");
  background-size: cover;
  background-position: center;
  height: 200px;
  position: relative;

  @include global.tablet {
    height: 500px;
  }

  &__overlay {
    background-color: global.$primary-bg-color;
    opacity: 50%;
    height: 100%;
    width: 100%;
    position: relative;
  }

  &__title {
    @include global.headerText(8rem, "Avenir-Demi", 32px, 0, 0);
    color: global.$primary-text-color;
    position: absolute;
    padding-left: 16px;
    z-index: 1;

    @include global.tablet {
      @include global.headerText(20rem, "Avenir-Demi", 68px, 0, 0);
      padding-left: 36px;
    }
  }
}

.bio-section {
  display: flex;
  flex-direction: column;
  padding: 0 16px;

  @include global.tablet {
    padding: 0 36px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;

    @include global.tablet {
      padding: 0 56px;
    }
  }

  &__title {
    @include global.headerText(8rem, "Avenir-Demi", 32px, 24px, 16px);
    @include global.tablet {
      @include global.headerText(12rem, "Avenir-Demi", 44px, 48px, 36px);
    }
  }

  &__quote,
  &__quote-name {
    @include global.quoteText;
  }

  &__quote {
    padding: 16px 0 8px 0;

    @include global.tablet {
      padding: 36px 0 12px 0;
      font-size: 8rem;
      line-height: 32px;
    }
  }

  &__quote-name {
    @include global.tablet {
      font-size: 5rem;
      padding-bottom: 36px;
    }
  }

  &__band-name {
    @include global.subheaderText(4.67rem, "Avenir-Regular", 22px, 24px, 16px);

    @include global.tablet {
      font-size: 8rem;
      font-family: "Avenir-Demi";
    }
  }

  &__bio-container {
    @include global.tablet {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__band-bio-text {
    @include global.bodyText;
    margin: 0;
    padding-bottom: 16px;

    @include global.tablet {
      font-size: 4.67rem;
      line-height: 22px;
      width: 47%;
      padding-bottom: 36px;
    }
  }
}

.photo-gallery {
  display: flex;
  flex-direction: column;
  padding: 0 16px;
  background-color: global.$alt-bg-color;

  @include global.tablet {
    padding: 0 36px;
  }

  &__title {
    @include global.headerText(8rem, "Avenir-Demi", 32px, 24px, 16px);
    @include global.tablet {
      @include global.headerText(12rem, "Avenir-Demi", 44px, 48px, 36px);
    }
  }

  &__image-container {
    display: flex;
    flex-direction: column;

    @include global.tablet {
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      padding-bottom: 24px;
    }
  }

  &__image {
    padding-bottom: 16px;

    @include global.tablet {
      width: 220px;
      padding-bottom: 24px;
    }
  }
}

.foot-bar {
  display: flex;
  flex-direction: column;
  background-color: global.$primary-bg-color;
  color: global.$primary-text-color;
  padding: 0 16px;

  &__title {
    @include global.headerText(8rem, "Avenir-Demi", 32px, 24px, 16px);
  }

  &__social {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 16px;

    & :nth-of-type(2) {
      margin: 0 32px;
    }
  }

  &__contact-container {
    @include global.footerText;
    padding-bottom: 24px;
  }

  &__contact-name,
  &__contact-company {
    font-family: "Avenir-Demi";
    margin: 0;
  }

  &__copyright-container {
    padding-top: 24px;
    font-size: 4rem;
  }

  &__copyright-text {
    margin: 0;
    padding: 16px 0;
  }
}
