@use "./partials/global";
@use "./partials/variables";
@use "./partials/mixins";
@use "./partials/fonts";

.hero-section {
  display: flex;
  align-items: center;
  background-image: url("../assets/images/hero-bio.jpg");
  background-size: cover;
  background-position: center;
  height: 200px;
  position: relative;

  @include mixins.tablet {
    height: 500px;
  }

  &__overlay {
    background-color: variables.$primary-bg-color;
    opacity: 50%;
    height: 100%;
    width: 100%;
    position: relative;
  }

  &__title {
    @include mixins.headerText(variables.$default-header-size, variables.$default-header-font, variables.$default-header-lh, 0, 0);
    color: variables.$primary-text-color;
    position: absolute;
    padding-left: 16px;
    z-index: 1;

    @include mixins.tablet {
      @include mixins.headerText(variables.$tablet-title-size, variables.$default-header-font, variables.$tablet-title-lh, 0, 0);
      padding-left: 36px;
    }
  }
}

.bio-section {
  display: flex;
  flex-direction: column;
  padding: 0 16px;

  @include mixins.tablet {
    padding: 0 36px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;

    @include mixins.tablet {
      padding: 0 56px;
    }
  }

  &__title {
    @include mixins.headerText(variables.$default-header-size, variables.$default-header-font, variables.$default-header-lh, variables.$default-padding-top, variables.$default-padding-bot);
    @include mixins.tablet {
      @include mixins.headerText(variables.$tablet-header-size, variables.$default-header-font, variables.$tablet-header-lh, variables.$tablet-padding-top, variables.$tablet-padding-bot);
    }
  }

  &__quote,
  &__quote-name {
    @include mixins.quoteText(variables.$quote-size, variables.$default-header-font, variables.$quote-lh);
  }

  &__quote {
    padding: 16px 0 8px 0;

    @include mixins.tablet {
      padding: 36px 0 12px 0;
      font-size: 8rem;
      line-height: 32px;
    }
  }

  &__quote-name {
    @include mixins.tablet {
      font-size: 5rem;
      padding-bottom: 36px;
    }
  }

  &__band-name {
    @include mixins.subheaderText(4.67rem, "Avenir-Regular", 22px, 24px, 16px);

    @include mixins.tablet {
      font-size: 8rem;
      font-family: "Avenir-Demi";
    }
  }

  &__bio-container {
    @include mixins.tablet {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__band-bio-text {
    @include mixins.bodyText;
    margin: 0;
    padding-bottom: 16px;

    @include mixins.tablet {
      font-size: 4.67rem;
      line-height: 22px;
      width: 47%;
      padding-bottom: 36px;
    }
  }
}

.photo-gallery {
  display: flex;
  flex-direction: column;
  padding: 0 16px;
  background-color: variables.$alt-bg-color;

  @include mixins.tablet {
    padding: 0 36px;
  }

  &__title {
    @include mixins.headerText(variables.$default-header-size, variables.$default-header-font, variables.$default-header-lh, variables.$default-padding-top, variables.$default-padding-bot);
    @include mixins.tablet {
      @include mixins.headerText(variables.$tablet-header-size, variables.$default-header-font, variables.$tablet-header-lh, variables.$tablet-padding-top, variables.$tablet-padding-bot);
    }
  }

  &__image-container {
    display: flex;
    flex-direction: column;

    @include mixins.tablet {
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      padding-bottom: 24px;
    }
  }

  &__image {
    padding-bottom: 16px;

    @include mixins.tablet {
      width: 220px;
      padding-bottom: 24px;
    }
  }
}

.foot-bar {
  display: flex;
  flex-direction: column;
  background-color: variables.$primary-bg-color;
  color: variables.$primary-text-color;
  padding: 0 16px;

  &__title {
    @include mixins.headerText(variables.$default-header-size, variables.$default-header-font, variables.$default-header-lh, variables.$default-padding-top, variables.$default-padding-bot);
  }

  &__social {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 16px;

    & :nth-of-type(2) {
      margin: 0 32px;
    }
  }

  &__contact-container {
    @include mixins.footerText;
    padding-bottom: 24px;
  }

  &__contact-name,
  &__contact-company {
    font-family: "Avenir-Demi";
    margin: 0;
  }

  &__copyright-container {
    padding-top: 24px;
    font-size: 4rem;
  }

  &__copyright-text {
    margin: 0;
    padding: 16px 0;
  }
}
