@use "./partials/global";
@use "./partials/variables";
@use "./partials/mixins";
@use "./partials/fonts";

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-image: url("../assets/images/hero-shows.jpg");
  background-size: cover;
  background-position: top;
  height: 300px;
  position: relative;
  padding-bottom: variables.$padding-increment;

  @include mixins.tablet {
    height: 500px;
    padding-top: variables.$padding-eight;
  }

  @include mixins.desktop {
    z-index: -1;
    height: 675px;
    padding-top: variables.$padding-eight;
    background-position: top;
  }

  &__overlay {
    background-color: variables.$primary-bg-color;
    opacity: 50%;
    height: 100%;
    width: 100%;
    position: absolute;
    @include mixins.desktop {
      z-index: -1;
    }
  }

  &__title {
    @include mixins.titleHeader;
    color: variables.$primary-text-color;
    padding-left: variables.$padding-two;
    padding-bottom: variables.$padding-two;
    z-index: 0;

    @include mixins.tablet {
      @include mixins.titleHeaderTablet;
      padding-left: variables.$padding-four;
    }

    @include mixins.desktop {
      z-index: 0;
      padding-left: variables.$padding-ten + variables.$padding-four;
    }

    &-container {
      width: 60%;
      z-index: 0;
    }
  }

  &__subtitle {
    @include mixins.subHeader;
    padding-left: variables.$padding-two;
    color: variables.$primary-text-color;
    z-index: 0;

    @include mixins.tablet {
      @include mixins.subHeaderTablet;
      padding-left: variables.$padding-four;
    }

    @include mixins.desktop {
      padding-left: variables.$padding-ten + variables.$padding-four;
    }
  }

  &__sound-cloud {
    z-index: 0;
    box-sizing: border-box;
    padding: 0 variables.$padding-two;

    @include mixins.tablet {
      padding: 0 variables.$padding-four;
    }

    @include mixins.desktop {
      padding-left: variables.$padding-ten + variables.$padding-four;
    }
  }
}

.shows-section {
  padding: 0 variables.$padding-two;

  &__header {
    @include mixins.pageHeader;
    padding-bottom: 0;
  }

  &__shows-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: variables.$padding-two 0;

    @include mixins.tablet {
      flex-direction: row;
    }
  }

  &__label {
    @include mixins.textFormat(
      variables.$default-label-size,
      variables.$font-demi,
      variables.$default-label-lh,
      0,
      0
    );
    color: variables.$secondary-text-color;
  }

  &__date,
  &__venue,
  &__location {
    @include mixins.bodyText;
  }

  &__date {
    font-weight: 700;
  }

  &__buy-button {
    @include mixins.textFormat(
      variables.$default-text-size,
      variables.$font-demi,
      variables.$default-text-lh,
      0,
      0
    );
    width: 100%;
    height: 40px;
    color: variables.$primary-text-color;
    background-color: variables.$primary-bg-color;
    padding: 0 32px;
    margin-bottom: variables.$padding-two;
    border: none;
    border-radius: 4px;
  }
}
